.button-glow {
  position: relative;
  overflow: hidden;
}

.button-glow::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  transform: skewX(-45deg);
  transition: all 0.5s ease;
}

.button-glow:hover::before {
  left: 150%;
  transition: all 0.5s ease;
}
.bg-cream-stone {
  background-color: #f5f5dc;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvr3JbwnBahAREwgul799W-PnlErE27LC3Hg&s");
  background-size: cover;
  background-repeat: no-repeat;
}

.input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  margin-bottom: 20px;
}
.confirm-modal-overlay {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  z-index: 9999 !important;
}

.confirm-modal-content {
  max-width: 500px;
  background-color: white !important;
  padding: 20px !important;
  border-radius: 8px !important;
  text-align: center !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
}
